# YagoutPay Configuration
MERCHANT_ID=your_merchant_id
ENCRYPTION_KEY=your_base64_32byte_key
YAGOUT_ENVIRONMENT=test # test or production


# Application Configuration
BASE_URL=http://localhost:8000
APP_ENV=development

# Database Configuration
DB_HOST=mysql
DB_NAME=yagoutpay_demo
DB_USER=yagoutpay
DB_PASS=password
DB_ROOT_PASS=password
